force-app/main/default/flows/Autolaunched_QLI_Custom_Approval_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>QLIApprovalRuleSeprate</name>
        <label>QLIApprovalRuleSeprate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>QLIApprovalRuleSeprate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Active_Return</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QLIApprovalRuleSeprate</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>QLIApprovalRuleSeprateWrapperResult</assignToReference>
            <name>result</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Emails</name>
        <label>Send Emails</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>User_Email_Ids</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Approval </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>ACTION REQUIRED: Quote Number : {!Get_Quote.QuoteNumber}

A quote  has been submitted for approval by {!$User.FirstName} {!$User.LastName}.

==========================
Quote Header Information
==========================
Quote Number : {!Get_Quote.QuoteNumber}
Quote Name : {!Get_Quote.Name}
Contact Name : {!Get_Quote.Contact.Name}
Opportunity Name : {!Get_Quote.Opportunity.Name}
Account Name : {!Get_Quote.Account.Name}
Account Number : {!Get_Quote.Account.AccountNumber}
Quote Total : {!Get_Quote.TotalPrice}
-------------------------
Submitted by : {!$User.FirstName} {!$User.LastName}
Quote Name : {!Get_Quote.Name}
-------------------------
View Quote : {!ViewQuote}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>queueIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QLIApprovalRuleSeprateWrapperResult_looping.QueueIdCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QLIApprovalRuleSeprateWrapperResult_looping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Populate_Approval_Request_For_Queue_A</name>
        <label>Copy 1 of Populate Approval Request For Queue A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approvalRequest.Quote_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Foreach_QLI.QLIId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalRequest.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalRequest.Requested_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalRequest.Requested_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvalRequest.Queue_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Foreach_QLI.QueueNamesCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approval_request_record</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>approvalRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Foreach_QLI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Return</name>
        <label>Active Return</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QLIApprovalRuleSeprateWrapperResult</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QLIApprovalRuleSeprateWrapperResult_looping</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ViewQuote</name>
        <dataType>String</dataType>
        <expression>&quot;https://alienbrainz-b-dev-ed.develop.lightning.force.com/lightning/r/Quote/&quot; &amp; {!recordId} &amp; &quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>Autolaunched:QLI Custom Approval New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunched:QLI Custom Approval New</label>
    <loops>
        <name>Foreach_QLI</name>
        <label>For Each QLI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>QLIApprovalRuleSeprateWrapperResult</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Populate_Approval_Request_For_Queue_A</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>User_Email_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>QLIApprovalRuleSeprateWrapperResult_looping</name>
        <label>QLIApprovalRuleSeprateWrapperResult looping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>QLIApprovalRuleSeprateWrapperResult</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Queues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_approval_request</name>
        <label>create approval request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quote_Update_Status</targetReference>
        </connector>
        <inputReference>Approval_request_record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Group_Members2</name>
        <label>Get Group Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Member_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_Queue_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queues</name>
        <label>Get Queues</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>queueIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QLIApprovalRuleSeprate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Of_Queue</name>
        <label>Get User Of Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Foreach_QLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_Group_Member_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Quote_Update_Status</name>
        <label>Quote Update Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <transforms>
        <name>Get_Group_Member_Ids</name>
        <label>Get Group Member Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Of_Queue</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Group_Members2[$EachItem].UserOrGroupId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Get_Queue_Ids</name>
        <label>Get Queue Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Group_Members2</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Queues[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>User_Email_Ids</name>
        <label>User Email Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>create_approval_request</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_User_Of_Queue[$EachItem].Email</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>Approval_request_record</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Request__c</objectType>
    </variables>
    <variables>
        <name>approvalRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Request__c</objectType>
    </variables>
    <variables>
        <name>QLIApprovalRuleSeprateWrapperResult</name>
        <apexClass>QLIApprovalRuleSeprateWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueNameOutPut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
