force-app/main/default/flows/Quote_Approval_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Separate_Queue_Names_Bulkified</name>
        <label>Separate Queue Names (Bulkified)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>QueueNameSeparate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Group_Ids</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>Get_Queue_Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QueueNameSeparate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Split_Queue_Names_Action_2</name>
        <label>Split Queue Names Action 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>QueueNameSeparate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Split_Queue_NAme</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>currectLoopQueueIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QueueNameSeparate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Approval_Request</name>
        <label>Assign Approval Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>filterApprovalRequests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Approval_Requests</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Split_Queue_NAme</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Queue_Ids</name>
        <label>Assign Queue Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>currectLoopQueueIds</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currectLoopQueueIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Approval_Requests.Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Split_Queue_Names_Action_2</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Current_User_Queue_Contain_split_Queue</name>
        <label>Current User Queue Contain split Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Split_Queue_NAme</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_User_Queues_Name_Collection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Split_Queue_NAme</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unique_Approval_Request</targetReference>
            </connector>
            <label>Outcome 1 of Decision 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unique_Approval_Request</name>
        <label>Unique Approval Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Approval_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Already_add_on_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filterApprovalRequests</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Filter_Approval_Requests</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_Queue_NAme</targetReference>
            </connector>
            <label>Already add on Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote Approval Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Approval Screen</label>
    <loops>
        <name>Filter_Approval_Requests</name>
        <label>Filter Approval Requests</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Approval_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Queue_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Approval_Request_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Split_Queue_NAme</name>
        <label>Split Queue NAme</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Split_Queue_Names_Action_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_User_Queue_Contain_split_Queue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_Approval_Requests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Approval_Requests</name>
        <label>Get Approval Requests</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_Line_Item__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_QLI_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Approval_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_User_Group_Members</name>
        <label>Get Current User Group Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_User_Queue_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>get_Queue_Ids_Collection</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_User_Queues_Name</name>
        <label>Get Current User Queues Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_User_Queues_Name_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_Current_User_Queue_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Ids</name>
        <label>Get Group Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Queue_Ids_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>Separate_Queue_Names_Bulkified</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QLI_On_Quote</name>
        <label>Get QLI On Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_QLI_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Approval_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Approval_Request_List</name>
        <label>Approval Request List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actions>
            <name>Autolaunched_Approval_Requested_Update_Approval_Or_Rejected</name>
            <actionName>Autolaunched_Approval_Requested_Update_Approval_Or_Rejected</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>Comments</name>
                <value>
                    <elementReference>Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>approvalRequests</name>
                <value>
                    <elementReference>Approval_requested.selectedRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isApproval</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRejected</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <label>Autolaunched : Approval Requested Update Approval Or Rejected</label>
            <nameSegment>Autolaunched_Approval_Requested_Update_Approval_Or_Rejected</nameSegment>
        </actions>
        <actions>
            <name>Autolaunched_Approval_Requested_Update_Approval_Or_Rejected2</name>
            <actionName>Autolaunched_Approval_Requested_Update_Approval_Or_Rejected</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>Comments</name>
                <value>
                    <elementReference>Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>approvalRequests</name>
                <value>
                    <elementReference>Approval_requested.selectedRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isApproval</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRejected</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <label>Autolaunched : Approval Requested Update Approval Or Rejected</label>
            <nameSegment>Autolaunched_Approval_Requested_Update_Approval_Or_Rejected</nameSegment>
        </actions>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Approval_Request_List_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Approval_Request_List_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Approval_requested</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Approval_Request__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Approval Request Record </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>filterApprovalRequests</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>keyField</name>
                        <value>
                            <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Approval_Request__c&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;filterApprovalRequests&quot;}</complexValue>
                            <complexValueType>ComplexObjectFieldDetails</complexValueType>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Quote_Line_Item__c&quot;,&quot;guid&quot;:&quot;column-a358&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Quote Line Item&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Queue_Id__c&quot;,&quot;guid&quot;:&quot;column-4e3d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Approval Requested By&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Queue Id&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Approval_Request_Condition__c&quot;,&quot;guid&quot;:&quot;column-e607&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Approval Request Condition&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-d806&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Queue_Id__c&quot;,&quot;guid&quot;:&quot;column-e230&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Queue Id 2&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Approval_Request_Condition__c&quot;,&quot;guid&quot;:&quot;column-526f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Approval Request Condition 2&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnReferences</name>
                        <value>
                            <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Approval_Request__c&quot;,&quot;fieldReferences&quot;:[&quot;Quote_Line_Item__c&quot;,&quot;Queue_Id__c&quot;,&quot;Approval_Request_Condition__c&quot;,&quot;Status__c&quot;,&quot;Queue_Id__c&quot;,&quot;Approval_Request_Condition__c&quot;],&quot;elementReference&quot;:&quot;filterApprovalRequests&quot;}</complexValue>
                            <complexValueType>ComplexObjectFieldDetails</complexValueType>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Comments</name>
                    <dataType>String</dataType>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Approval_Request_List_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Approval_Request_List_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>2</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Approval_Request_List_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Approval_Request_List_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>isApproval</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Approval</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>Autolaunched_Approval_Requested_Update_Approval_Or_Rejected.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>Autolaunched_Approval_Requested_Update_Approval_Or_Rejected.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>Autolaunched_Approval_Requested_Update_Approval_Or_Rejected.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Approval_Request_List_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Approval_Request_List_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>isRejected</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Reject</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>Autolaunched_Approval_Requested_Update_Approval_Or_Rejected2.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>Autolaunched_Approval_Requested_Update_Approval_Or_Rejected2.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>Autolaunched_Approval_Requested_Update_Approval_Or_Rejected2.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Approval_Request_List_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Approval_Request_List_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>2</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>isApproval</eventSource>
            <handlers>
                <screenActionName>Autolaunched_Approval_Requested_Update_Approval_Or_Rejected</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>isRejected</eventSource>
            <handlers>
                <screenActionName>Autolaunched_Approval_Requested_Update_Approval_Or_Rejected2</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_QLI_On_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Get_Current_User_Queue_Ids</name>
        <label>Get Current User Queue Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_User_Queues_Name</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Current_User_Group_Members[$EachItem].GroupId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Get_Current_User_Queues_Name_Collection</name>
        <label>Get Current User Queues Name Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Filter_Approval_Requests</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Current_User_Queues_Name[$EachItem].Name</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Get_QLI_Ids</name>
        <label>Get QLI Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Approval_Requests</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_QLI_On_Quote[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>get_Queue_Ids_Collection</name>
        <label>get Queue Ids Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_User_Group_Members</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Group_Ids[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Get_Queue_Name</name>
        <label>Get Queue Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Separate_Queue_Names_Bulkified</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Approval_Requests[$EachItem].Queue_Id__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currectLoopQueueIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Request__c</objectType>
    </variables>
    <variables>
        <name>filterApprovalRequests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Approval_Request__c</objectType>
    </variables>
    <variables>
        <name>QLIApprovalRuleSeprateWrapperResult</name>
        <apexClass>QLIApprovalRuleSeprateWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueneNameList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
